! Terminal settings
st.alpha:		1.00
st.font:		mono:pixelsize=14:antialias=true:autohint=true

! Shades-of-purple xresources palette
*color0:		#2D2B55
*color1:		#A599E9
*color2:		#A5FF90
*color3:		#FAEFA5
*color4:		#BFBFBF
*color5:		#FF628C
*color6:		#8BE9FD
*color7:		#FF7200
*color8:		#4D4D4D
*color9:		#FF6E67
*color10:		#3AD900
*color11:		#FAEFA5
*color12:		#A599E9
*color13:		#FB94FF
*color14:		#9EFFFF
*color15:		#E6E6E6

*foreground:	#A599E9
*background:	#2D2B55

