snippet template "dtd template"
<?xml version="1.0" encoding="UTF-8"?>
$0
endsnippet

snippet elem "element"
<!ELEMENT $1 $2>
$0
endsnippet

snippet atl "attribute list"
<!ATTLIST $1
    $2>
$0
endsnippet

snippet elmatl "elemenent with attribute list"
<!ELEMENT $1>
<!ATTLIST $1
	$2>
$0
endsnippet
