[Desktop Entry]
Name=NumberShark
Exec=env WINEPREFIX="/home/b1/.wine" /usr/bin/wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/b1/.wine/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/CrypTool/NumberShark.lnk
Type=Application
StartupNotify=true
Path=/home/b1/.wine/dosdevices/c:/Program Files (x86)/CrypTool
Icon=A05F_NumberShark.0
StartupWMClass=numbershark.exe
