[Desktop Entry]
Name=ReadMe
Exec=env WINEPREFIX="/home/b1/.wine" /usr/bin/wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/b1/.wine/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/CrypTool/ReadMe.lnk
Type=Application
StartupNotify=true
Path=/home/b1/.wine/dosdevices/c:/Program Files (x86)/CrypTool
Icon=8337_ReadMe-en.0
